*,*::after,*::before {     
  margin: 0;     
  padding: 0;
  box-sizing: border-box; }



:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 80%;
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 1.1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}



.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
  
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  padding: 2rem 0;
  
}

@media (max-width:1440px) {
  #tranding {
    padding: 1rem 0;
    
  }
}

#tranding .tranding-slider {
  height: 40rem;
  width: 30rem;
  padding: 1rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 40rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}


































































































































































































































header{
  background-image: url(./public/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  position: relative;   
}


.logo{
  height: 4%;
  width: 8%;
  position: relative;
  top: 30px;

}
.topnav {
overflow: hidden;
width: 100%;

}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 0% 5% 0%;
  text-decoration: none;
  font-size: 120%;
  position: relative;
  
}

.title-1{
  font-size: 200%;
  position: relative;
  text-align: center;
  opacity:0.8 ;
  color: white;
  padding-bottom: 2%;
  padding-top: 12%;

}

.title-2{
  font-size: 200%;
  position: relative;
  text-align: center;
  opacity:0.8 ;
  color: white;
  padding-bottom: 4%;
}

.title-3{
  font-size: 20px;
  position: relative;
  text-align: center;
  opacity:0.8 ;
  color: white;
  position: relative;
  
}

.btn {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 90%;
  padding: 1% 1%;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
}

.btn:hover {
  background-color: black;
  color: white;
}






.popular-destination{
   width: 100%;
   height: 750px;
   position: relative; 
   background-color: #476A46; 
   


}









.services{
  width: 100%;
  height: 500px;
  position: relative; 
  background-color:#e4d4b4b8; 
 


}


.service{
  font-size: 200%;
  position: relative;
  text-align: center;
  opacity:0.8 ;
  color: white;
  padding-bottom: 2%;
  padding-top: 1%;
   
}

.containerimg{
  position: relative;
  display: flex;
  justify-content: space-evenly;

}

.container1 {
  position: relative;
  width: 23%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30%;
  
  
  
}

.image {
  
  width: 75%;
  max-width: 250px;
  height: auto;
  border-radius: 40px;
  
}

.overlay {
  position: absolute; 
  bottom: 50%;

  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 72%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 120%;
  padding: 5%;
  text-align: center;
  border-radius: 10px;
}

.container1:hover .overlay {
  opacity: 1;
}


























.help{
  width: 100%;
  height: 250px;
  position: relative; 
  background-color: #476A46; 
  


}


.helpyou{
  font-size: 200%;
  position: relative;
  text-align: center;
  opacity:0.8 ;
  color: white;
  padding-bottom: 2%;
  padding-top: 1%;
   
}

.containergroup{
  position: relative;
  display: flex;
  justify-content: space-evenly;

}

.containergroup1 {
  position: relative;
  width: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20%;
  padding-bottom: 1%;
  
  
  
}

.group {
  
  width: 75%;
  max-width: 250px;
  height: auto;
  
  
}

.containerp {
  position: relative;
  width: 19%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20%;
  color: #C8AF7E;
  font-size: 140%;
  
  
}





















.temoignages{
  background-image: url(public/temoignage.PNG);
  width: 100%;
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover; 
}

.temoignage{
  font-size: 200%;
  position: relative;
  text-align: center;
  opacity:0.8 ;
  color: white;
  padding-bottom: 1%;
  padding-top: 2%;
   
}




















.containerfooter{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
  background-color:#476A46;

  padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: orange;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




